

a {
  cursor: pointer;
}

* {
  cursor: default;
}

INPUT[type="text"], INPUT[type="number"] {
  cursor: text;
}

SELECT {
  cursor: pointer;
}

DIV.alert > DL.dl-horizontal {
  padding-left: 10px;
}