<table data-ng-if="vms.length" class="table table-striped" style="margin-top:70px;">
  <thead>
    <tr>
      <th style="width: 50px;"></th>
      <th style="width: 160px;"></th>
      <th>Name</th>
      <th>CPUs</th>
      <th>RAM</th>
      <th>VGA</th>
      <th>VNC-Port</th>
    </tr>
  </thead>
  <tbody data-ng-repeat="vm in vms">
    <tr data-ng-click="expanded[vm.uuid] = !expanded[vm.uuid];" style="cursor: pointer;">
      <td>
        <div style="margin-bottom:0px; padding:0px; text-align:center;float:left;margin-left:10px;" class="alert">{{stat(vm.uuid).procStatus}}</div>
      </td>
      <td>
        <div style="margin-bottom:0px; padding:0px; text-align:center;" class="alert" data-ng-class="{'alert-danger':stat(vm.uuid).status=='stopped' || stat(vm.uuid).status=='shutdown', 'alert-success':stat(vm.uuid).status=='running','alert-warning':stat(vm.uuid).status=='paused', 'alert-info':stat(vm.uuid).status == undefined}">{{stat(vm.uuid).status}} <span data-ng-if="stat(vm.uuid).status == undefined">&nbsp;<i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
                  <span data-ng-if="stat(vm.uuid).vnc">&nbsp;<i title="vnc client connected" class="fa fa-eye" aria-hidden="true"></i></span></div>

      </td>
      <td>{{vm.name}}</td>
      <td>{{vm.hardware.cpu.sockets * vm.hardware.cpu.cores * vm.hardware.cpu.threads}}</td>
      <td>{{vm.hardware.ram}} MB</td>
      <td>{{vm.hardware.vga}}</td>
      <td>{{vm.settings.vnc.port+5900}}</td>
    </tr>
    <tr data-ng-if="expanded[vm.uuid]">
      <td colspan="100%">
        <button data-ng-if="showButton(vm, 'start')"  data-ng-click="runAction(vm.uuid, 'start')"  type="button" class="btn btn-sm btn-secondary"><i class="fa fa-power-off" aria-hidden="true"></i></button><!-- start process -->
        <button data-ng-if="showButton(vm, 'pause')"  data-ng-click="runAction(vm.uuid, 'pause')"  type="button" class="btn btn-sm btn-secondary"><i class="fa fa-pause" aria-hidden="true"></i></button><!-- pause (pause) -->
        <button data-ng-if="showButton(vm, 'resume')" data-ng-click="runAction(vm.uuid, 'resume')" type="button" class="btn btn-sm btn-secondary"><i class="fa fa-play" aria-hidden="true"></i></button><!-- resume (continue) -->
        <button data-ng-if="showButton(vm, 'stop')"   data-ng-click="runAction(vm.uuid, 'stop')"   type="button" class="btn btn-sm btn-secondary"><i class="fa fa-stop" aria-hidden="true"></i></button><!-- stop (power off) -->
        <button data-ng-if="showButton(vm, 'reset')"  data-ng-click="runAction(vm.uuid, 'reset')"  type="button" class="btn btn-sm btn-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></button><!-- reset -->
        <button data-ng-if="showButton(vm, 'down')"   data-ng-click="runAction(vm.uuid, 'down')"   type="button" class="btn btn-sm btn-secondary"><i class="fa fa-chevron-down" aria-hidden="true"></i></button><!-- reset (shut down) -->

        UUID: {{vm.uuid}}

        <div class="row">
          <div class="col-md-2">
            <dl class="dl-horizontal">
              <dt class="col-sm-10">Sockets</dt>
              <dd class="col-sm-2">{{vm.hardware.cpu.sockets}}</dd>
              <dt class="col-sm-10">Cores per Socket</dt>
              <dd class="col-sm-2">{{vm.hardware.cpu.cores}}</dd>
              <dt class="col-sm-10">Threads per Core</dt>
              <dd class="col-sm-2">{{vm.hardware.cpu.threads}}</dd>
            </dl>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">

<div class="col-sm-3">
  <div class="card">
    <h3 class="card-header">Settings</h3>

    <div class="list-group">
      <a class="list-group-item" data-ng-repeat="s in settings" data-ng-class="{active: $index == curSetting.idx}" data-ng-click="curSetting.idx = $index;">{{s}}</a>
    </div>

<!-- Keyboard | USB | Boot -->
  </div>
</div>
<div class="col-sm-9">
  <div class="card">
    <h3 class="card-header">{{settings[curSetting.idx]}}</h3>
    <div class="card-block" data-ng-include="'/vms/'+curSetting.idx+'.html'">
    </div>
  </div>
</div>
</div>

<pre>{{editVm}}</pre>